/* You can add global styles to this file, and also import other style files */

h2,h3,h4,h5,h6,p{
    padding-top: 20px;
}

.timeline * + .line {
margin-top: 9px;
}

.timeline .line {
position: relative;
height: 17px;
border-left: 1px solid #aeb1be;
}

.timeline .line:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    transform: translateY(-50%);
    border-top: 1px solid #aeb1be;
    width: 20vw;
}

.margins-title-timeline{
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    font-size: 20px;
}

@media screen and (max-width: 991px){
    .navbar .navbar-nav a.nav-link p {
        display: inline-block;
        margin-left: 7px;
        color: #fff;
        margin-top: -18px;
    }
}

p.d-lg-none.d-xl-none.ml-2 {
    margin-top: -15px;
}

.navbar{
    background-color: #E4002B !important;

}

.navbar-transparent{
    background-color: transparent !important;

}


.night-fade{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.young-passion{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.ripe-malinka{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.true-sunset{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.wild-apple{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
